
// déclartion des variables du site 
$primaire: #9356dc;
$secondaire: #ff79da;
$Tertiaire: #99e2d0;
$Background-gray: #f6f6f6;
$Green-font: #008766;
$Grey: #353535;
$Gyey-2: #eaeaea;
$Grey-tint-4: #7e7e7e;
$Gradient-bg: linear-gradient(193deg, #9b56dc -11.44%, #ff79da 123.93%);



// déclartion des mixins

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin button($width) {
  height: 50px;
  width: $width;
  background: $Gradient-bg;
  border: none;
  padding: 13px 18.75px;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 25%);
}
