.header {
  @include flex(row);
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0 17px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background: white;

  .header__logo {
    width: 162px;
    padding: 14px 34px;
    box-shadow: none;
    @media (min-width: $tailleDesktop) {
      padding: 30px 40%;
    }
  }
}

.menu .header{
  justify-content: flex-start;
}

.header__localisation {
  @include flex(row);
  justify-content: space-between;
  padding: 15px 30%;
  font-size: 19px;
  @media (min-width: $tailleDesktop) {
    justify-content: center;
    gap: 17px;
  }
}


