.header {
  @include flex(column);
  justify-content: center;

  .header__logo {
    padding: 2% 40%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 15%);
    background-color: white;
    height: 30px;
    object-fit: contain;
    @media (min-width: $tailleDesktop) {
      padding: 30px 36%;
    }
  }

  .header__localisation {
    @include flex(row);
    justify-content: space-between;
    padding: 15px 30%;
    font-size: 19px;
    @media (min-width: $tailleDesktop) {
      justify-content: center;
      gap: 17px;
    }
  }
}
