body {
  background-color: $Gyey-2;
  @media (min-width: $tailleDesktop) {
    background-color: white;
  }
}

.loader {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  display: flex; // flex a mettre
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation-name: loader;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  .point {
    width: 20px;
    height: 20px;
    background-color: $primaire;
    border-radius: 10px;
    &:nth-of-type(1) {
      animation-name: aller-retour;
      animation-duration: 1000ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }

    @for $i from 2 through 5 {
      &:nth-of-type(#{$i}) {
        background-color: lighten($primaire, $amount: $i * 5);
        animation-name: rotation1;
        animation-duration: 130ms;
        animation-timing-function: ease-in-out;
        animation-delay: calc($i - 1) * 200ms;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes rotation1 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-15px, -30px);
  }

  to {
    transform: translate(-30px, 0px);
  }
}

@keyframes aller-retour {
  from {
    transform: translateX(0);
    background-color: $primaire;
  }

  to {
    transform: translateX(120px);
    background-color: lighten($primaire, $amount: 65);
  }
}

@keyframes loader {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

.main {
  @include flex(column);

  .main__reservation {
    padding-top: 39px;
    padding-bottom: 57px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: $Background-gray;
    text-align: center;

    &__title {
      margin-bottom: 12px;
    }

    &__texte {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 31px;
    }
    &__button {
      @include button(218px);
    }
  }

  .main__fonctionnement {
    background: white;
    padding-top: 48px;
    padding-bottom: 68px;
    padding-left: 20px;
    padding-right: 20px;
    @include flex(column);
    gap: 26px;

    @media (min-width: $tailleDesktop) {
      padding: 50px 180px;
    }

    .main__fonctionnement__list {
      @include flex(column);
      gap: 24.9px;
      padding-left: 12px;

      @media (min-width: $tailleDesktop) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .main__fonctionnement__list__article {
        position: relative;

        .main__fonctionnement__list__article__numero {
          width: 24px;
          height: 24px;
          background: $primaire;
          color: white;
          @include flex(row);
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          position: absolute;
          top: 27px;
          left: -12px;
        }

        .main__fonctionnement__list__article__choix {
          background-color: $Background-gray;
          padding: 27px 35px;
          @include flex(row);
          gap: 23px;
          border-radius: 20px;
          font-size: 16px;
          font-weight: 500;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

          .main__fonctionnement__list__article__choix__icon {
            color: $Grey-tint-4;
            &--primary {
              color: $primaire;
            }
          }

          .main__fonctionnement__list__article__choix__title {
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }
  }

  .main__restaurants {
    padding-top: 54px;
    padding-bottom: 66px;
    padding-left: 20px;
    padding-right: 20px;
    @include flex(column);
    gap: 20px;
    @media (min-width: $tailleDesktop) {
      padding: 30px 180px;
    }
    .main__restaurants__list {
      @include flex(column);
      gap: 18px;

      @media (min-width: $tailleDesktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        row-gap: 50px;
      }

      .main__restaurants__list__article {
        @include flex(column);
        border-radius: 15px;
        background: white;
        text-decoration: none;
        color: black;

        .main__restaurants__list__article__header {
          position: relative;

          .main__restaurants__list__article__header__image {
            height: 241px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
          }

          .main__restaurants__list__article__header__tag {
            position: absolute;
            background: $Tertiaire;
            color: $Green-font;
            padding: 7px 9px;
            border-radius: 2px;
            right: 15px;
            top: 13px;
          }
        }

        .main__restaurants__list__article__footer {
          @include flex(row);
          justify-content: space-between;
          padding: 13px;
          align-items: center;

          .main__restaurants__list__article__footer__icon {
            font-size: 20px;
            position: relative;

            &--solid {
              color: $primaire;
              position: absolute;
              right: 25px;
              opacity: 0;
              transition: opacity 300ms ease-in-out;
            }

            &--border {
              position: absolute;
              opacity: 1;
              right: 25px;
              transition: opacity 300ms ease-in-out;
            }

            &:hover .main__restaurants__list__article__footer__icon--solid {
              opacity: 1;
            }

            &:hover .main__restaurants__list__article__footer__icon--border {
              opacity: 0;
            }
          }

          .main__restaurants__list__article__footer__text {
            @include flex(column);
            gap: 5px;

            .main__restaurants__list__article__text__title {
              font-size: 18px;
              font-weight: 700;
            }
            .main__restaurants__list__article__text__corps {
              font-size: 17px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
