
// déclartion des mixins

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
  }
  
  @mixin button($width) {
    height: 50px;
    width: $width;
    background: $Gradient-bg;
    border: none;
    padding: 13px 18.75px;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 25%);

    transition: all 300ms ease-in-out;
      &:hover,
      &:active {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0.15) 100%
          ),
          linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
      }
  }
  